@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
html {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
}

.title {
  margin-top: 3rem;
  color: #1D262A;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

.logo {
  width: 16.25rem;
}

/* Navigation Styles */

nav {
  background-color: #b3cde0;
}

.navbar {
  width: 100vw;
}

nav a.nav-link {
  font-weight: 500;
}

.navbar-nav > li > a {
  margin: 0rem 0.75rem;
  border-top: 0.1875rem solid transparent;
}

.navbar-brand {
  max-width: 17.25rem;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: 0.1875rem solid #1D262A;
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid #1D262A;
}

/* About */

.header-wrapper {
  position: relative;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-info p {
  margin: 20px
}

/* Works */

.carousel-control-prev, .carousel-control-next {
  background-color: #b3cde0;
}

.carousel-caption {
  background-color: #1D262A;
  border-radius: .5rem;
}
.carousel-caption h5 {
  color:#b3cde0;
}

.carousel-button {
  background-color: #b3cde0;
  color: #1D262A;
  border-radius: .5rem;
  padding: .25rem;
}

/* Contact */

/**/
.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.contact {
  margin-top: 5rem;
  text-align: center;
  display: flex;
  list-style-type: none;
  padding: 0;
}

.contact-method {
  margin: .75rem;
}

.contact-link {
  background-color: #b3cde0;
  padding: .5rem;
  border-radius: .5rem;
  color: #1D262A;
}

.contact-link:hover {
  text-decoration: none;
}

.carousel-button:hover {
  text-decoration: none;
}

.carousel-item {
  height: 100vh;
  max-height: 90rem;
}

.carousel-image {
  object-fit: cover;
}